doctype html
html

  //- HTML HEADER
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")

    style(type="text/css").
      h1, h2, h3, h4 {
        padding-left: 0
      }
  body
    block body-contents